.q1{

	width:97vw ;
	height:13vh ;
	 background: #0000cd;
	 color: white;
	 font-size: 2.5em;
	 margin-top: 0;
	 top: 0;
	 position: sticky;
}




.q1-1{
float: left;
width:20vw ;
height:13vh ;
margin: auto;
color: white;
}


.w1{
  width:93vw;
  height:35vh;
  color: black;
  margin-top: 1.5%;
  border:2px solid;
  text-align: center;

}


.w2{
  width:93vw;
  height:35vh;
  color: black;
  margin-top: 1.5%;
  border:2px solid;
  text-align: center;
}

.w3{
  width:93vw;
  height:35vh;
  color: black;
  margin-top: 1.5%;
  border:2px solid;
  text-align: center;

}

.w4{
  width:93vw;
  height:35vh;
  color: black;
  margin-top: 1.5%;
  border:2px solid;
  text-align: center;
}

.w5 {
  width:93vw;
  height:35vh;
  color: black;
  margin-top: 1.5%;
  border:2px solid;
  text-align: center;

}

.w6{
  width:93vw;
  height:35vh;
  color: black;
  margin-top: 1.5%;
  border:2px solid;
  text-align: center;

}

.w7{
  width:93vw;
  height:35vh;
  color: black;
  margin-top: 1.5%;
  border:2px solid;
  text-align: center;

}